In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 16.1 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 17.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv('knn_dataset.csv')

# Print the first few entries of the Categories column to inspect
print(df['Categories'].head())

0                     ['Romantic', 'Art & Culture']
1                     ['Romantic', 'Art & Culture']
2         ['Food & Shopping', 'Family', 'Romantic']
3    ['Family', 'Food & Shopping', 'Art & Culture']
4    ['Family', 'Food & Shopping', 'Art & Culture']
Name: Categories, dtype: object

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
import pickle

# Load dataset
df = pd.read_csv('knn_dataset.csv')

In [ ]:
df.head()
df = pd.get_dummies(df, columns=['Price'])

In [ ]:
print(df.head())

   Days                                      Categories  \
0     3                   ['Romantic', 'Art & Culture']
1     3                   ['Romantic', 'Art & Culture']
2     4       ['Food & Shopping', 'Family', 'Romantic']
3     4  ['Family', 'Food & Shopping', 'Art & Culture']
4     4  ['Family', 'Food & Shopping', 'Art & Culture']

                                           Itinerary  Price_High  Price_Low  \
0  ## Paris on a Budget: 3 Days of Romance, Art, ...       False       True
1  ## Paris on a Budget: 3 Days of Romance, Art, ...       False       True
2  ## Parisian Romance on a Budget: 4-Day Family ...       False       True
3  ## Paris on a Budget: Family Fun, Food & Shopp...       False       True
4  ## Paris on a Budget: Family Fun, Food & Shopp...       False       True

   Price_Mid
0      False
1      False
2      False
3      False
4      False

In [ ]:
# Define the predefined categories
predefined_categories = ['Romantic', 'Family', 'Food & Shopping', 'Art & Culture']

# Create one-hot columns based on predefined categories
for category in predefined_categories:
    df[category] = df['Categories'].apply(lambda x: 1 if category in x else 0)

# Drop the original 'Categories' column if it's no longer needed
df = df.drop(columns=['Categories'])

print(df.head())

   Days                                          Itinerary  Price_High  \
0     3  ## Paris on a Budget: 3 Days of Romance, Art, ...       False
1     3  ## Paris on a Budget: 3 Days of Romance, Art, ...       False
2     4  ## Parisian Romance on a Budget: 4-Day Family ...       False
3     4  ## Paris on a Budget: Family Fun, Food & Shopp...       False
4     4  ## Paris on a Budget: Family Fun, Food & Shopp...       False

   Price_Low  Price_Mid  Romantic  Family  Food & Shopping  Art & Culture
0       True      False         1       0                0              1
1       True      False         1       0                0              1
2       True      False         1       1                1              0
3       True      False         0       1                1              1
4       True      False         0       1                1              1

In [ ]:

# Step 1: Cluster data by 'Days'
clusters = {}
for days in df['Days'].unique():
    clusters[days] = df[df['Days'] == days]

# Step 2: Preprocess and train k-NN model for each cluster
def preprocess_and_train_cluster(cluster_df):
    # Extract feature columns and target variable
    X = cluster_df[['Price_High', 'Price_Low', 'Price_Mid', 'Romantic', 'Family', 'Food & Shopping', 'Art & Culture']]
    y = cluster_df['Itinerary']

    # Initialize and train the k-NN model
    knn = KNeighborsClassifier(n_neighbors=3)
    knn.fit(X, y)

    return knn

# Store models and encoders for each cluster
cluster_models = {}
for days, cluster_df in clusters.items():
    knn_model = preprocess_and_train_cluster(cluster_df)
    cluster_models[days] = knn_model

# Save models to a file
with open('cluster_models.pkl', 'wb') as f:
    pickle.dump(cluster_models, f)

In [ ]:
from pymongo import MongoClient

# MongoDB setup
client = MongoClient("mongodb+srv://admin:p8tBBMuhcEwJZaJw@travel-itinerary-cluste.fmul5.mongodb.net/itineraryDB?retryWrites=true&w=majority")
db = client.itinerariesDB
collection = db.itineraries

# Insert data into MongoDB
entries = df.to_dict('records')
collection.insert_many(entries)

InsertManyResult([ObjectId('66d345dbee4dc25e3d6be1ce'), ObjectId('66d345dbee4dc25e3d6be1cf'), ObjectId('66d345dbee4dc25e3d6be1d0'), ObjectId('66d345dbee4dc25e3d6be1d1'), ObjectId('66d345dbee4dc25e3d6be1d2'), ObjectId('66d345dbee4dc25e3d6be1d3'), ObjectId('66d345dbee4dc25e3d6be1d4'), ObjectId('66d345dbee4dc25e3d6be1d5'), ObjectId('66d345dbee4dc25e3d6be1d6'), ObjectId('66d345dbee4dc25e3d6be1d7'), ObjectId('66d345dbee4dc25e3d6be1d8'), ObjectId('66d345dbee4dc25e3d6be1d9'), ObjectId('66d345dbee4dc25e3d6be1da'), ObjectId('66d345dbee4dc25e3d6be1db'), ObjectId('66d345dbee4dc25e3d6be1dc'), ObjectId('66d345dbee4dc25e3d6be1dd'), ObjectId('66d345dbee4dc25e3d6be1de'), ObjectId('66d345dbee4dc25e3d6be1df'), ObjectId('66d345dbee4dc25e3d6be1e0'), ObjectId('66d345dbee4dc25e3d6be1e1'), ObjectId('66d345dbee4dc25e3d6be1e2'), ObjectId('66d345dbee4dc25e3d6be1e3'), ObjectId('66d345dbee4dc25e3d6be1e4'), ObjectId('66d345dbee4dc25e3d6be1e5'), ObjectId('66d345dbee4dc25e3d6be1e6'), ObjectId('66d345dbee4dc25e3d6be1e7'), ObjectId('66d345dbee4dc25e3d6be1e8'), ObjectId('66d345dbee4dc25e3d6be1e9'), ObjectId('66d345dbee4dc25e3d6be1ea'), ObjectId('66d345dbee4dc25e3d6be1eb'), ObjectId('66d345dbee4dc25e3d6be1ec'), ObjectId('66d345dbee4dc25e3d6be1ed'), ObjectId('66d345dbee4dc25e3d6be1ee'), ObjectId('66d345dbee4dc25e3d6be1ef'), ObjectId('66d345dbee4dc25e3d6be1f0'), ObjectId('66d345dbee4dc25e3d6be1f1'), ObjectId('66d345dbee4dc25e3d6be1f2'), ObjectId('66d345dbee4dc25e3d6be1f3'), ObjectId('66d345dbee4dc25e3d6be1f4'), ObjectId('66d345dbee4dc25e3d6be1f5'), ObjectId('66d345dbee4dc25e3d6be1f6'), ObjectId('66d345dbee4dc25e3d6be1f7'), ObjectId('66d345dbee4dc25e3d6be1f8'), ObjectId('66d345dbee4dc25e3d6be1f9'), ObjectId('66d345dbee4dc25e3d6be1fa'), ObjectId('66d345dbee4dc25e3d6be1fb'), ObjectId('66d345dbee4dc25e3d6be1fc'), ObjectId('66d345dbee4dc25e3d6be1fd'), ObjectId('66d345dbee4dc25e3d6be1fe')], acknowledged=True)